
/* posicionar con flex */
@mixin flexposition($justifycontent:center,$alignitem:center) {
    display: flex;
    justify-content: $justifycontent;
    align-items: $alignitem;
}

@mixin textStyles($weight:300,$transform:uppercase){
    font-weight: $weight;
    letter-spacing: 2px;
    text-transform: $transform;
}

@mixin tamanofuente($sm,$md,$lg) {
    @media (min-width:576px) {
        font-size: $sm;
    }

    @media (min-width:768px) {
        font-size: $md;
    }

    @media (min-width:992px) {
        font-size: $lg;
    }
}

/* Hacer responsivo */
@mixin response($breakpoint) {
    @if($breakpoint == xl) {
        @media(min-width: 1200px){
            @content;
        }
    }

    @if($breakpoint == lg){
        @media(min-width: 992px){
            @content;
        }
    }
    
    @if($breakpoint == md){
        @media(min-width: 768px){
            @content;
        }
    }

    @if($breakpoint == sm){
        @media(min-width: 576px){
            @content;
        }
    }
}

%fullSpace {
    width: 100%;
    height: 100%;
}
